node_modules/
.next/
.turbo/
.expo/
dist/
build/
/coverage
.DS_Store
Thumbs.db
*.pem
npm-debug.log*
yarn-error.log*
*.log
*.bak
*.tmp
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
todo.txt

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/docs

# Editor / IDE
.vscode/
.idea/